<!DOCTYPE html>
<html>
    <head>
        <title>Flames</title>
        <script src = "static/script.js" defer></script>
        <link rel = "stylesheet" href = "static/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    </head>
    <body>
        <div class="container">
            <h2>Flames Calculator</h2>
            
            <label>First Name</label>
            <input id="name1" type="text">

            <label>Second Name</label>
            <input id="name2" type="text">

            <button id="calcBtn">Calculate</button>
            <button id="resetBtn" class="reset">Reset</button>

            <div id="result" class="result-card"></div>

            <h3 class="history">History</h3>
            <div class="history" id="history"></div>
        </div>
    </body>
</html>